

/* ======= ======= ======= general ======= ======= ======= */
html, body {
    height: 100%;
}
body {
    font-family: "Ariel", sans-serif;
    /*border: 2px solid red;*/
}

/* ======= ======= ======= sections ======= ======= ======= */
.section {
    margin: 20px;
    padding: 10px;
    border: 2px solid purple;
}
.container {
    height: 220px;
    background-color: Moccasin;
    border: 2px solid darkorange;
}
.container > p {
    margin: 20px;
}
#header {
    background-color: #ddd;
}
.label {
    display: inline-block;
    float: left;
    margin-left: 20px;
    color: red;
}

/* ======= ======= ======= box-sizing/hover ======= ======= ======= */
/* ======= ======= ======= box-sizing/hover ======= ======= ======= */
/* ======= ======= ======= box-sizing/hover ======= ======= ======= */

#box1, #box2, #box3, #box4, #box5, #box6, #boxA {
    float: left;
    width: 90px;
    height: 90px;
    padding: 10px;
    text-align: center;
    border: 10px solid orange;
}
#box1 {
    box-sizing: content-box;
    clear: both;
    margin-left: 20px;
}
#box2 {
    box-sizing: border-box;
    margin-left: 80px;
}
#box1:hover {
    color: red;
    border: 10px solid red;
}
#box2:hover {
    color: white;
    background-color: red;
}
#boxA {
    box-sizing: border-box;
    margin-left: 20px;
}

/* ======= ======= ======= transforms ======= ======= ======= */
/* ======= ======= ======= transforms ======= ======= ======= */
/* ======= ======= ======= transforms ======= ======= ======= */

#box3 {
    clear: both;
    margin-left: 20px;
    transform: translate(20px, 30px);
}
#box4 {
    margin-left: 60px;
    transform: rotate(10deg);
}
#box5 {
    margin-left: 60px;
    transform: skewX(20deg);
}
#box6 {
    margin-left: 60px;
    transform: matrix(1, -0.5, 0.7, 0.8, 2, 0);
}

/* ======= ======= ======= keyframes ======= ======= ======= */
/* ======= ======= ======= keyframes ======= ======= ======= */
/* ======= ======= ======= keyframes ======= ======= ======= */

#boxA:hover {
    animation-name: multiProps;
    animation-duration: 5s;
}
@keyframes multiProps {
    0%   {
        color: white;
        background-color: red;
    }
    25%  {
        width: 800px;
        height: 45px;
        line-height: 45px;
        margin: 5px;
        color: blue;
        transform: rotate(10deg);
        background-color: yellow;
    }
    50%  {
        width: 200px;
        height: 100px;
        margin-left: 10%;
        color: yellow;
        transform: rotate(-10deg);
        background-color: blue;
    }
    100% {
        color: lawngreen;
        background-color: green;
    }
}

/* ======= ======= ======= OVERLAY ANIMS ======= ======= ======= */
/* ======= ======= ======= OVERLAY ANIMS ======= ======= ======= */
/* ======= ======= ======= OVERLAY ANIMS ======= ======= ======= */

#box7, #box8, #box9 {
    float: left;
    position: relative;
    width: 120px;
    height: 120px;
    margin: 10px;
    background-color: thistle;
}
#box7:hover .slidein {
    width: 100%;
    left: 0;
}
#box8:hover .slideup {
    height: 100%;
    bottom: 0;
}
#box9:hover .slideout {
    width: 50%;
    right: -50%;
}

/* ======= slidein ======= */
.slidein {
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    background-color: #008CBA;
    transition: 500ms ease;
}

/* ======= slideup ======= */
.slideup {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #008CBA;
    transition: 500ms ease;
}

/* ======= slideout ======= */
.slideout {
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: #008CBA;
    transition: 500ms ease;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}


/* ======= ======= ======= ======= ======= keyframe properties ======= ======= ======= ======= ======= */
/*
@keyframes
animation-delay         // wait to start
animation-direction     // reverse/alternate
animation-duration      // how long
animation-fill-mode     // style when the animation is not playing (eg delay, after)
    none
    forwards
    backwards
    both
    initial
    inherit
animation-iteration-count     // how often to repeat
animation-name                // call animation like function
animation-play-state          // whethr running or paused
animation-timing-function     // linear, ease, ease-in, ease-out, ease-in-out, cubic-bezier(n,n,n,n)
*/



/* ======= ======= ======= ARCHIVE ======= ======= ======= */
/* ======= ======= ======= ARCHIVE ======= ======= ======= */
/* ======= ======= ======= ARCHIVE ======= ======= ======= */
